/* index.css */
button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #781f1c;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #781f1c;
}

div {
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 3.5rem;
  color: #781f1c;
  margin: 5px;
  font-family: 'Bebas Neue', sans-serif; /* Para los títulos */
}
